%p.info 
	Pytania ładownae z <a href="http://kefirnet.ath.cx/sygnaly/">http://kefirnet.ath.cx/sygnaly</a>. Thx mfly!
	%br
	%br
	Aby dostać nowy zestaw pytań odswież strone.

.ts
	= @questions
	
%div.score				
%div.control
	%input#show_correct{:type => "button", :value => "Pokaż poprawne odpowiedzi"}
	%input#check_score{:type => "button", :value => "Sprawdź"}

	